*{
    box-sizing: border-box;
}

.links{
    margin-left: 6rem;
    justify-content: space-between;
    display: flex;
    color: rgb(237, 240, 243);
    margin-right: 10rem;
    font-size: medium;
}

