*{
    box-sizing: border-box;
}

.wrapper{
    text-align: center;
    justify-content: center;
    background-color: rgb(232, 123, 123);
    min-height: 100vh;
    background-repeat:round;
    
}

button{
    background-color: rgb(13, 50, 13);
    color: antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    margin-top: 2rem;

}



input{
   margin-top: 2rem;
   padding: 1rem;
   margin-left: 1rem;
   border-radius: 2rem; 
   text-align: center;
}

